.action-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
  }
  
  .accept-button {
    background-color: #4caf50; /* Zöld */
  }
  
  .reject-button {
    background-color: #f44336; /* Piros */
  }
  
  .details-button {
    background-color: #2196f3; /* Kék */
  }
  
  .done-button {
    background-color: #ff9800; /* Narancs */
  }

  .toCostumer-button{
    background-color: #2196f3;
  }