.auth-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .auth-button.login {
    background-color: white;
    color: #e69138;
  
  }
  
  .auth-button.register {
    background-color: #e69138;
    color: white;
  }