.chart{
    background-color: #f5b761 !important;
    color: black !important;
    border: #f5b761 !important;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.rating{
    background-color: #f5b761 !important;
    color: black !important;
    border: #f5b761 !important;
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
}

.product-card{
    background-color: #f5b761 !important;
    color: black !important;
    border: #f5b761 !important;
}